.container{
  margin-top: 200px;
  text-align: center;

}
.container .jumbotron{
  background-color: red;
  color: white;
}
.jumbotron a{
  background-color: blue;
  color: red;
  border:2px solid green;
}
body{
  background-color: yellow;
}
